# ====================== 通用系统忽略 ======================
# Windows
Thumbs.db
Desktop.ini
# macOS
.DS_Store
.AppleDouble
.LSOverride
# Linux
*~

# ===================== 日志、临时文件 =====================
*.log
*.tmp
*.temp
*.bak
*.swp
*.swo
*.log.*

# ====================== VSCode 专用缓存 ======================
# .vscode/
# 注意：如果你不要保存tasks.json/launch.json到仓库，打开上面一行注释，同时注释或删除下面这三行
# !.vscode/tasks.json
# !.vscode/launch.json
# !.vscode/c_cpp_properties.json
.vscode/.env
.vscode/extensions.json
.vscode/settings.jsonc
.vscode/**/.git
*.code-workspace
# 临时缓存
.vs/
*.log

# 构建输出目录
build/
bin/
obj/
dist/

# 本地用户配置
*.csproj.user

# ====================== Visual Studio ====================================
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
# 编译产物
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
ARM/
# 项目缓存
*.vcxproj.user
*.csproj.user
# 自定义输出文件夹
bin/
obj/

# NuGet
packages/
*.nupkg

#====================== Eclipse ===================================
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

#====================== NetBeans ======================
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# ======================IntelliJ IDEA 配置文件 ======================
.idea/
*.iml
*.iws
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin
build/
.apt_generated
# 自定义本地配置（本地环境配置，不要提交到仓库）
application-local.yml
application-local.yaml
application-local.properties

# ====================== Java ======================
# 编译输出
*.class

# 包文件
*.jar
*.war
*.nar
*.ear
*.zip

# Maven编译产物
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Gradle（如果用gradle项目，保留，不用可删掉）
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
HELP.md

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# SpringBoot 运行临时文件
spring-boot-starter.log

# 单元测试生成文件
test-output/

# 覆盖测试报告
site/

# ====================== JavaScript / NodeJS ======================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
coverage/
.env.local
.env.development.local